rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /events/{document=**} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }

  }

}
